<nav>
  <ul>
    <li>
      <a href="#">
        <span class="verb">GET</span>
        <code class="path">/articles/:id</code>
      </a>
    </li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
    <li><a href="#">bob</a></li>
  </ul>
</nav>
<main>
  alex
</main>
