<!DOCTYPE html>
<html>
<head>
  <title>Easy rspec api docs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "easy_rspec_api_docs/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
